.highlight {

  background-color: #f8f8f8;

  .hll {
    background-color: #ffffcc;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: #3D7B7B;
  }

  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .nb,
  .nt,
  .sx,
  .bp {
    color: #008000;
  }

  .o,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: #666666;
  }

  .cp {
    color: #9C6500;
  }

  .gd {
    color: #A00000;
  }

  .gr {
    color: #E40000;
  }

  .gh,
  .gp {
    color: #000080;
  }

  .gi {
    color: #008400;
  }

  .go,
  .ni {
    color: #717171;
  }

  .gu {
    color: #800080;
  }

  .gt {
    color: #0044DD;
  }

  .kt {
    color: #B00040;
  }

  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .s1 {
    color: #BA2121;
  }

  .na {
    color: #687822;
  }

  .nc,
  .nf,
  .nn,
  .fm {
    color: #0000FF;
  }

  .no {
    color: #880000;
  }

  .nd,
  .ow {
    color: #AA22FF;
  }

  .ne {
    color: #CB3F38;
  }

  .nl {
    color: #767600;
  }

  .nv,
  .ss,
  .vc,
  .vg,
  .vi,
  .vm {
    color: #19177C;
  }

  .w {
    color: #bbbbbb;
  }

  .se {
    color: #AA5D1F;
  }

  .si,
  .sr {
    color: #A45A77;
  }

  .k,
  .gh,
  .gp,
  .gs,
  .gu,
  .kc,
  .kd,
  .kn,
  .kr,
  .nc,
  .ni,
  .ne,
  .nn,
  .nt,
  .ow,
  .se,
  .si {
    font-weight: bold;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs,
  .ge,
  .sd {
    font-style: italic;
  }

  .err {
    border: 1px solid #FF0000;
  }

}
